# General
CVS/
compat/
*.pem

# MSVC working
Debug.vs*/
Release.vs*/
Debug/
Release/
.vs*/
*.vcxproj.user
*.VC.opendb
*.VC.db
.#*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.aps

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.log
*.app
