// $Id: NSLocalized.rc,v 1.3 2023/10/17 14:51:42 cvsuser Exp $
//

/////////////////////////////////////////////////////////////////////////////
//
// AutoUpdater Localizer data
//

//NSLocalized Localizable "./strings/Base.strings"
//NSLocalized de "./strings/de.strings"
NSLocalized xx "./object.nsmo"

//end

